nav {
  background-color: rgb(31, 31, 31);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 20px auto;
    width: 182px;
    font-size: 30px;
    border: 2px solid rgb(255, 203, 32);
    color: rgb(255, 203, 32);
    border-radius: 1px;

    span {
      background-color: rgb(255, 203, 32);
      color: rgb(31, 31, 31);
      padding: 0 10px;
      padding: 0 57px;
    }
  }

  ul {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: 265px;
    margin-top: 40px;
    height: 250px;
    padding: 0 35px;
    justify-content: space-around;
  }

  li {
    display: inline;
    color: rgb(245, 245, 245);
    padding: 5px 5px 5px 10px;
    font-weight: 600;
    font-size: 20px;
    transition: .15s;
    cursor: pointer;

    &:hover {
      padding-right: 35px;
      background-color: rgb(65, 30, 190);
      transition: .15s;
      border-right: 2px solid rgb(255, 203, 32);
    }
  }

}