* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  text-align: center;
  width: 100%;
  border-top: 10px solid #FF1B58;
}

@media only screen and (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}