form {
	align-items: center;
	display: flex;
  padding-left: 40px;
  margin-top: 10px;
	width: 400px;
  height: 70px;

	div {
		max-width: 53px;
		position: relative;
		width: 100%;
		transition: 0.4s ease-in-out;

		input {
			background-color: rgb(0, 255, 76);
			border-radius: 50px;
			border: none;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.434);
			color: #24233A;
			cursor: pointer;
			font-size: 20px;
			outline: none;
      padding: 15px;
      padding-left: 22px;
			transition: 0.4s ease-in-out;
			width: 100%;

			&::placeholder {
				color: rgb(0, 255, 76);
			}
		}

		svg {
			height: 20px;
			position: absolute;
			right: calc(53px / 2);
			top: 50%;
			transform: translate(50%, -50%);
			width: 20px;
      pointer-events: none;
      
			path {
				fill: rgb(0, 0, 0);
				transition: 0.4s ease-in-out;
			}
    }
    
    &:hover {
        max-width: 300px;
  
        input {
          background-color: #FFF;
          padding-right: 50px;
					box-shadow: inset 0px 0px 4px rgba(0, 0, 0, .5);
					
					&::placeholder {
						color: rgb(82, 82, 82);
					}
        }

        svg {
          path {
            fill: rgb(12, 0, 245);
          }
				}
				
    }

		&:focus-within {
			max-width: 300px;

			input {
				background-color: #FFF;
				padding-right: 50px;
				box-shadow: inset 0px 0px 4px rgba(0, 0, 0, .5);

				&::placeholder {
					color: rgb(89, 89, 89);
				}
			}

			svg {
				path {
					fill: rgb(33, 0, 245);
				}
			}
		}
	}
}