form {
  height: 63px;
  padding-top: 15px;
  display: flex;
  padding-left: 40px;
  background: rgb(31, 31, 31);
  border-bottom: solid 5px rgb(55, 0, 255);

  input {
    height: 30px;
    border: none;
    font-size: 16px;
    width: 300px;
    padding-left: 10px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0 0 4px black;

    &:focus {
      outline: none;
    }
  }

  button {
    height: 30px;
    width: 110px;
    background-color: rgb(103, 103, 103);
    border: none;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0 4px black;
    transition: .15s;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: rgb(68, 16, 190);
        transition: .15s;
      }

      &:active {
        background-color: rgb(45, 0, 148);
        transition: .15s;
      }
    }
  }