article {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgb(154, 153, 153);

  a {
    font-size: 21px;
    text-align: left;
    text-decoration: none;
    margin: 0 15px;
    padding-top: 15px;
    font-weight: 600;
  }

  p {
    border-top: 2px solid rgb(230, 230, 230);
    padding: 10px 0 0;
    margin: 10px 15px 15px 15px;
    color: rgb(40, 40, 40);
    font-size: 15px;
    text-align: left;
    font-weight: 500;
  }

  img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 5px solid rgb(255, 203, 32);
  }

}

$link-color: rgb(77, 28, 255);
$linkAnimationSpeed: 0.3s;
$text-color: rgb(77, 28, 255);

article {
	a {
		// border-bottom: 1px solid $text-color;
		color: $text-color;
		text-decoration: none;
		transition: color $linkAnimationSpeed ease-in-out;
		background-size: 100% 200%;
		background-image: linear-gradient(to top, 
			transparent 0%, 
			transparent 50%,
			$link-color 50%, 
			$link-color 100%);
    background-position: 0 100%;
		will-change: background-position;
		
		&:hover {
			animation: backgroundAnimateIn $linkAnimationSpeed;
			animation-fill-mode: forwards;
		}
	}
}

@keyframes backgroundAnimateIn {
	0% {
		background-position: 0 -100%;
	}
	63% {
		background-position: 0 -95%;		
	}
	86% {
		background-position: 0 2.5%;
	}
	100% {
		color: white;
		background-position: 0 -12%;
	}
}