article {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 5px black;

  a {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: left;
    text-decoration: none;
    margin: 0 15px;
    padding-top: 15px;
    font-weight: 600;
  }

  p {
    border-top: 2px solid gray;
    padding: 10px 0 0;
    margin: 15px 15px 15px 15px;
    color: rgb(87, 87, 87);
    font-size: 20px;
    text-align: left;
  }

  img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

}